@page
@model CongApp.Pages.Admin.Meetings.CreateModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Home page";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
       New Meeting
    </div>
    <div class="card-body">
        <form method="post">
        <!-- MEETING TYPE -->
        <div class="row">
            <div class="input-group mb-3 col-3">
                <span class="input-group-text">Type</span>
                <select class="form-control" asp-for="AddNewMeetingRequest.Type">
                    <option>Midweek</option>
                    <option>Weekend</option>
                </select>
            </div>
        </div>
    <!-- WEEK RANGE -->
        <div class="row">
            <div class="input-group mb-3 col-3">
                <span class="input-group-text">Week of</span>
                <select class="form-control" asp-for="AddNewMeetingRequest.Week">
                    <option>April 24-30</option>
                    <option>May 1-7</option>
                </select>
            </div>
        </div>
        <!-- DATE SELECTION -->
        <div class="row">
            <div class="input-group mb-3 col-3">
                <span class="input-group-text">Date</span>
                <input type="date" class="form-control" value="@DateTime.Now" placeholder="Date" asp-for="AddNewMeetingRequest.Date" />
            </div>
        </div>
        

        <!-- SAVE/CANCEL -->
        <div class="row">
            <div class="btn-group">
                <button type="submit" class="btn btn-success">Save</button>
                <a asp-page="./Index" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
    </div>
</div>
