@page
@model CongApp.Pages.Admin.Meetings.EditModel

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-hearts" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z" />
        </svg>Edit Meeting
    </h1>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Meeting.Id" />
        <!-- MEETING TYPE -->
        <div class="row">
            <div class="input-group mb-3">
                <label asp-for="Meeting.Type" class="input-group-text">Type</label>
                <select asp-for="Meeting.Type" class="form-select">
                    <!-- NO NAME -->
                    <option>Midweek</option>
                    <option>Weekend</option>
               </select>
                <span asp-validation-for="Meeting.Type" class="text-danger"></span>
            </div>
        </div>
        <!-- DATE SELECTION -->
        <div class="row">
            <div class="input-group mb-3">
                <label asp-for="Meeting.Date" class="input-group-text">Date</label>
                <input asp-for="Meeting.Date" type="date" class="form-control" placeholder="Date" /> <!-- NO NAME -->
                <span asp-validation-for="Meeting.Date" class="text-danger"></span>
            </div>
        </div>
        <!-- WEEK RANGE -->
        <div class="input-group mb-3">
            <label asp-for="Meeting.Week" class="input-group-text">Week of</label>
                <select asp-for="Meeting.Week" class="form-select">
                <!-- NO NAME -->
                <option>April 24-30</option>
                <option>May 1-7</option>
            </select>
            <span asp-validation-for="Meeting.Week" class="text-danger"></span>
        </div>

        <!-- SAVE/CANCEL -->
        <div class="row">
            <div class="btn-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>



