@page
@model CongApp.Pages.MeetingModel
@{
}
<div class="container">
    <h1>Meeting</h1>
    <p>Type: Midweek</p>
    <p>Date: January 1, 2000</p>
    <p>Week of: January 1 - 6</p>

    <h1>Tasks</h1>
    <table class="table table-bordered">
        <tr>
            <th>Assignment</th>
            <th>Assignee</th>
            <th>Partner</th>
            <th>Edit</th>
        </tr>
        <tr>
            <td>Paragraph Reader</td>
            <td>Jesrael Llarves</td>
            <td></td>
            <td>Edit</td>
        </tr>
        <tr>
            <td>Microphone Servant</td>
            <td>Randy Sagum</td>
            <td>Benito Vergara Jr.</td>
            <td>Edit</td>
        </tr>
    </table>
</div>